
header {
  display: flex;
  padding: 2rem;
  background-color: #e9a12f;


}
nav {
  display: flex;
   
 
}
.logo {
  width: 15%;
  height: auto;
}

.titulo {
   padding: 15px;
  width: 30vw;
  margin: auto;
  font-size: xx-large;

}
.contenedor{
  text-align:center;
  margin: 50px 0px;

}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.mensaje-error{
  border-radius: 15px;
  visibility: visible;
  font-size: 18px;
  text-align: center;
  position: absolute;
  background-color: #e9a12f;
  left: 65%;
  margin-top: 5px;
  width: 160px;
  padding: 10px;
  color: white;
  -webkit-border-radius:15px;
  
  -ms-border-radius:15px;
  -o-border-radius:15px;

}
.mensaje-error::after{
  right:100%;
  top: 25%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #e9a12f;
  border-width: 8px;
  margin-top: 8px;

}

.hidden {
  display: none;
}